{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/contents.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/sp_top.css') }}" type="text/css">
{% endblock %}

{% block main %}

<article id="main_wrap" class="page_tradelaw">
	<div id="breadcrumb">
		<ul>
            <li><a href="{{ url('homepage') }}">ホーム</a></li>
			<li>特定商取引法に関する表示</li>
		</ul>
	</div>
	
	<section class="section">
		<div class="post text">
			<h1 class="title_squirrel">特定商取引法に関する表示</h1>
            <section class="section">
                <div class="text">
                    <table class="lineBtm">
                        <tbody>
                            <tr>
                                <th>販売業者</th>
                                <td>株式会社　秋冬春夏</td>
                            </tr>
                            <tr>
                                <th>運営責任者</th>
                                <td>有馬 正悟</td>
                            </tr>
                            <tr>
                                <th>住所</th>
                                <td>〒114-0012　東京都北区田端新町1-7-8　相光ビル3階</td>
                            </tr>
                            <tr>
                                <th>電話番号</th>
                                <td>03-5901-9633</td>
                            </tr>
                            <tr>
                                <th>FAX</th>
                                <td>03-5901-9634</td>
                            </tr>
                            <tr>
                                <th>メールアドレス</th>
                                <td>info@s-t-s-k.com</td>
                            </tr>
                            <tr>
                                <th>URL</th>
                                <td>
                                    <a href="https://www.s-t-s-k.com/">https://www.s-t-s-k.com/</a><br>
                                    <a href="https://www.s-t-s-k.com/lp">https://www.s-t-s-k.com/lp</a><br>
                                    <a href="https://www.s-t-s-k.com/lp2">https://www.s-t-s-k.com/lp2</a>
                                </td>
                            </tr>
                            <tr>
                            <th>商品以外の必要代金</th>
                                <td>・名入れありの場合、版代・印刷代等(商品・数量・印刷方法で変動いたします)<br>
                                ・送料　1カートンにつき　本州・四国・九州/800円～、北海道/1500円～、沖縄・離島/3500円～</td>
                            </tr>
                            <tr>
                                <th>注文方法</th>
                                <td>商品ページから買い物かごにいれるボタンより進んでご注文ください。<br>
                                【商品価格・印刷価格について】<br>
                                予告なく、費用や仕様等が変更になる場合がございますので、ご購入いただく際にご確認ください。</td>
                            </tr>
                            <tr>
                                <th>支払方法</th>
                                <td>原則、銀行振込にてお願いいたします。</td>
                            </tr>
                            <tr>
                                <th>支払期限</th>
                                <td>原則ご注文後7日以内にお支払下さい。なお、ご注文から7日以内にご入金が確認できない場合は、ご注文をキャンセル扱いとさせていただきます。</td>
                            </tr>
                            <tr>
                                <th>引渡し時期</th>
                                <td>【名入れありのご注文の場合】　ご入金日より15営業日程度で発送いたします。(数量・印刷方法などで前後いたします)<br>
                                【名入れなしのご注文の場合】　ご入金日より3営業日程度で発送いたします。</td>
                            </tr>
                            <tr>
                                <th>返品・交換について</th>
                                <td>【返品期限・条件】<br>
                                良品の返品は受け付けておりません。不良品につきましては商品到着日より7日以内とさせていただきます。<br>
                                それを過ぎますと、不良品であっても返品、交換のご要望はお受けできなくなりますので、ご了承ください。<br>
                                商品の本体色の色味は画面上と異なる場合がございます。商品の本体色の色味が重要な場合は、必ずサンプルを購入いただき確認してください。【返品送料】<br>
                                不良品交換、誤品配送交換は当社負担とさせていただきます。<p></p>
                                <p>【不良品】<br>
                                万一不良品等がございましたら、当店の在庫状況を確認のうえ、新品、または同等品と交換させていただきます。<br>
                                商品到着後7日以内に電話でご連絡ください。それを過ぎますと不良品であっても返品交換のご要望はお受けできなくなりますので、ご了承ください。</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
		</div>
	</section>
</article>
{% endblock %}
