{% extends 'default_frame.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/contents.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/sp_top.css') }}" type="text/css">
{% endblock %}

{% block main %}
    <article id="main_wrap" class="page_faq">
        <div id="breadcrumb">
            <ul>
                <li><a href="https://www.s-t-s-k.com/test" style="color: #007DD4;">ホーム</a></li>
                <li>よくある質問</li>
            </ul>
        </div>
        <div class="fq_head_txt">
            <p>お客様から寄せられるご質問をQ&A形式でご紹介いたします。</p>
        </div>
        <div class="page_link">
            <div class="link_container">
                <a href="#link1">在庫について</a>
                <a href="#link2">見積りについて</a>
                <a href="#link3">商品について</a>
                <a href="#link4">注文について</a>
                <a href="#link5">サンプル購入<br>について</a>
                <a href="#link6">複数商品を<br>ご購入の場合</a>
                <a href="#link7">お支払い<br>について</a>
                <a href="#link8">入稿・印刷<br>について</a>
                <a href="#link9">配送・納期<br>について</a>
                <a href="#link10">その他の質問</a>
            </div>
        </div>
        <section class="section_first">
            <div class="post text">
                <section id="link1" class="section">
                    <h1 class="lv_h2">在庫について</h1>
                    <div class="text">
                        <dl class="faq">
                            <dt>在庫数はどのように確認できますか？</dt>
                            <dd>お問合せメール又はお電話頂ければ、現在の在庫数を確認いたします。<br /> 在庫数は日々変動します、予めご了承ください。
                            </dd>
                            <dt>在庫が無い場合、発注出来ないのでしょうか？</dt>
                            <dd>在庫がない場合、商品はご注文いただけません。</dd>
                            <dt>欠品中の商品の次回入荷予定を教えてもらえますか？</dt>
                            <dd>次回入荷の予定が立っているものは、入荷目安をお伝えすることができます。</dd>
                            <dt>在庫数を毎日アナウンスできますか？</dt>
                            <dd>申し訳ございません、在庫数を弊社からアナウンスする事はしておりません。</dd>
                        </dl>
                    </div>
                </section>
                <section id="link2" class="section">
                    <h1 class="lv_h2">見積りについて</h1>
                    <div class="text">
                        <dl class="faq">
                            <dt>見積書をいただけますか？</dt>
                            <dd>商品ページの自動見積ツールをご利用ください。ご注文後、正式な御見積書とご請求書を発行いたします。</dd>
                            <dt>大ロットの場合、別途で見積り・割引をいただけますか？</dt>
                            <dd>大ロットの場合、割引がある商品もございます。詳しくは弊社までお問い合せください。</dd>
                        </dl>
                    </div>
                </section>
                <section id="link3" class="section">
                    <h1 class="lv_h2">商品について</h1>
                    <div class="text">
                        <dl class="faq">
                            <dt>無償で予備を付けて頂けますか？</dt>
                            <dd>無償予備はお付けしておりません、必要予備数を含めてご発注をお願いいたします。</dd>
                        </dl>
                    </div>
                </section>
                <section id="link4" class="section">
                    <h1 class="lv_h2">注文について</h1>
                    <div class="text">
                        <dl class="faq">
                            <dt>注文の仕方を教えてください。</dt>
                            <dd>商品ページから右側にある自動見積ツールにてご希望の数量、印刷方法を選択し『計算する』ボタンを押して注文にお進みください。<br/>注文内容確認後、弊社より正式な御見積書とご請求書を発行いたします。デザイン入稿データは、メールにてお送りください。</dd>
                            <dt>注文内容をキャンセルしたい。</dt>
                            <dd>ご注文後の変更・キャンセルはお受けしておりません。</dd>
                            <dt>返品・交換はできますか？</dt>
                            <dd>品質管理に万全を期していますが、明らかな商品不良、誤納品の場合は、商品到着後1週間以内に限り、返品・交換をお受けしております。</dd>
                            <dt>電話やメールで注文することは可能ですか？</dt>
                            <dd>電話やメールでも注文する事は可能です。<br/> FAXでの注文はお受けしておりません。
                            </dd>
                            <dt>以前製作したものと同じものを追加でお願いできますか？</dt>
                            <dd>過去ご注文日から180日以内であれば、同じ版を再利用することができます。<br/>
                                詳しくは弊社までお問い合せください。</dd>
                            <dt>持ち込みの商品に印刷できますか？</dt>
                            <dd>お客様の持ち込む商品によっては可能です。お問い合せメール又はお電話ください。</dd>
                        </dl>
                    </div>
                </section>
                <section id="link5" class="section">
                    <h1 class="lv_h2">サンプル購入について</h1>
                    <div class="text">
                        <dl class="faq">
                            <dt>サンプルを無償で貸してほしい</dt>
                            <dd>商品サンプルはご購入をお願いいたします。商品ページの自動見積でご希望数量を入力後、『サンプル注文する』ボタンからお進みください。<br />
                                ※商品、サンプル在庫状況によってご対応できない場合がございます。
                            </dd>
                            <dt>サンプルはどれぐらいで届きますか？</dt>
                            <dd>サンプルの場合、ご入金確認後、中2～4営業日程度でご納品いたします。<br /> （沖縄/離島の場合は追加の輸送日数が必要です。）
                            </dd>
                            <dt>サンプルの送料はいくらですか？</dt>
                            <dd>お届け先都道府県によって異なります。<br />
本州・四国・九州／860円、           北海道／1,630円、沖縄／3,830円、離島／別途お問い合せください。</dd>
                            <dt>サンプルを急ぎなので取りに行きたい</dt>
                            <dd>弊社にはサンプルのご用意はございません。商品は倉庫から出荷になります。<br /> 倉庫の地域は各商品によって異なります。
                            </dd>
                        </dl>
                    </div>
                </section>
                <section id="link6" class="section">
                    <h1 class="lv_h2">複数商品をご購入の場合</h1>
                    <div class="text">
                        <dl class="faq">
                            <dt>複数商品の注文方法が知りたい</dt>
                            <dd>ご注文依頼は各1商品ずつお願いいたします。<br />
                                商品のメーカー倉庫より直送となるため、メーカーごとに送料がかかります。
                            </dd>
                        </dl>
                    </div>
                </section>
                <section id="link7" class="section">
                    <h1 class="lv_h2">お支払いについて</h1>
                    <div class="text">
                        <dl class="faq">
                            <dt>売掛/納品後の支払いはできますか？</dt>
                            <dd>基本的には前金になりますが、法人様であれば審査の上、可能な場合もございます。<br /> メール又はお電話でお問合せください。専任担当者をお付けいたします。
                                <br /> ※購入金額・地域・業種・規模によって異なります。
                            </dd>
                            <dt>支払い方法を教えてください</dt>
                            <dd>銀行振込になります。<br /> （クレジットカード払い・代引き等には対応しておりません。）
                            </dd>
                            <dt>支払期限はいつまでですか？</dt>
                            <dd>請求書発行いたします。請求書発行から原則5営業日以内でお願いいたします。</dd>
                            <dt>振込手数料はどちらの負担ですか？</dt>
                            <dd>恐れ入りますが、お客様のご負担にてお願いいたします。</dd>
                            <dt>振込先を教えてください</dt>
                            <dd>ご注文後、請求書を発行いたします。請求書に振込口座を記載しております。<br /> そちらの口座番号にご入金をお願いいたします。
                                <br /> 注文者名義と振込人名義が異なる場合はご連絡くださいませ。
                            </dd>
                        </dl>
                    </div>
                </section>
                <section id="link8" class="section">
                    <h1 class="lv_h2">入稿・印刷について</h1>
                    <div class="text">
                        <dl class="faq">
                            <dt>デザイン・入稿データを作れないのですがどうしたら良いですか？</dt>
                            <dd>テンプレートに入稿データを落とし込む程度のデザイン業務であれば、無償で大丈夫です。<br /> デザインを作成する場合は別途費用が発生いたします。詳しくはお問合せください。
                            </dd>
                            <dt>校正サンプル（印刷の物サンプル）を見てから量産できますか？</dt>
                            <dd>別途、有償にはなりますが、校正サンプルを製造する事も可能です。<br /> 校正作成費は一式7,000円になります。校正作成のみの注文はできません。
                            </dd>
                            <dt>印刷色は選べますか？</dt>
                            <dd>シルク・パッド印刷は指定色指示が可能です、パントーン・DICの色番号から選べます。<br /> インクジェット印刷は指定色は出来ませんが、CMYKの掛け合わせパーセンテージ通りで印刷いたします。箔押しは金・銀・黒・白から選べます。レーザー・型押しは印刷色は選べません。（レーザー印刷はレーザーで彫刻する技法・型押しは型で凹ませる技法）
                            </dd>
                            <dt>DICとPANTONEとはなんですか？</dt>
                            <dd>DIC (ディック）とPANTONE（パントーン）とは、色見本メーカーの名称になります。<br /> 各社の色見本帳に色番号があり、その番号で印刷現場にて色合わせをします。
                                <br /> DIC→大日本インキ化学工業株式会社（日本）、PANTONE→Pantone社（アメリカ）
                            </dd>
                            <dt>印刷は剥がれたり・薄くなったりしませんか？</dt>
                            <dd>日常的にお使いいただく分にはすぐに薄くなることはございません。<br /> 鋭利な物での接触・強度の高い洗浄の繰り返し、または経年劣化による擦れ・剥がれは起こる可能性がございます。
                            </dd>
                            <dt>デザインは共通だが、本体色ごとに印刷色を変える事はできますか？</dt>
                            <dd>別途、有償にはなりますが、可能です。その場合、一度版を洗浄・インクを調合し直しになります。</dd>
                            <dt>手書きのイラストを入稿データにしたいのですが、できますか？</dt>
                            <dd>弊社までイラストをお送り頂ければ、イラスト原稿をスキャンして入稿データにする事は可能です。その際、若干解像度は落ちます。</dd>
                            <dt>印刷範囲・位置を変更したい</dt>
                            <dd>商品によっても異なりますが、印刷範囲・位置を変更できる場合がございます。その際は特殊印刷になりますので、別途費用が発生する場合がございます。</dd>
                            <dt>デザインテンプレートが無い商品はどうしたら良いですか？</dt>
                            <dd>商品によってはデザインテンプレートが無い商品がございます。その場合、記載している印刷範囲のサイズ以内のデザインをお送りください。弊社で校正PDFを作りお送りいたしますので、そちらでご確認くださいませ。</dd>
                        </dl>
                    </div>
                </section>
                <section id="link9" class="section">
                    <h1 class="lv_h2">配送・納期について</h1>
                    <div class="text">
                        <dl class="faq">
                            <dt>送料はいくらですか？</dt>
                            <dd>商品合計40,000円(税込)以上で送料無料となります。<br /> 商品合計40,000円(税込)未満は、一律1,000円、沖縄・離島は別途費用がかかります。
                            </dd>
                            <dt>クライアント直送なので、送り主を変更できますか？</dt>
                            <dd>対応可能です。注文時の備考欄に記載、又はお問い合せください。</dd>
                            <dt>宅配業者の変更・指定は可能でしょうか？</dt>
                            <dd>申し訳ございません、ご指定は出来ません。弊社指定の宅配業者になります。</dd>
                            <dt>2回に日付を分けて納品してほしいのですが？</dt>
                            <dd>ご対応できる場合と対応できない場合がございます。詳しくは注文時の備考欄に記載、又はお問い合せください。
                            </dd>
                            <dt>複数の納品先に発送してほしいのですが</dt>
                            <dd>別途手数料・送料がかかりますが、対応可能です。</dd>
                            <dt>納品日を指定できますか？</dt>
                            <dd>納期が短くなる場合の指定は出来ませんが、長くなる場合の指定日は可能です。</dd>
                            <dt>イベント会場などに直接納品はできますか？</dt>
                            <dd>対応可能です。イベント名・ブースNO等、各イベント搬入ルールをご確認の上、弊社までお知らせください。</dd>
                            <dt>日本国外の海外の納品はできますか？</dt>
                            <dd>日本国外の海外への直接納品は承っておりません。日本国内のみのご納品となります。</dd>
                        </dl>
                    </div>
                </section>
                <section id="link10" class="section">
                    <h1 class="lv_h2">その他の質問</h1>
                    <div class="text">
                        <dl class="faq">
                            <dt>商品不良の場合はどうしたらいいですか？</dt>
                            <dd>大変申し訳ございません、お手数をお掛けいたしますが、担当スタッフまでご連絡ください。商品の状況を確認の上、交換させていただきますので1週間以内にメールまたはお電話でご連絡くださいませ。<br /> （お客様の元で商品が破損した場合・商品到着後一定の期間を経過している場合は対応できかねます）
                            </dd>
                            <dt>御社の営業日を教えてください。</dt>
                            <dd>土日祝日を除く平日が営業日になります。又、お盆・年末年始も休業日になります。こちらに関しましてはinformationでご確認ください。</dd>
                            <dt>営業時間を教えてください。</dt>
                            <dd>土日祝日（お盆・年末年始）を除く、10：00～17：00になります。</dd>
                        </dl>
                    </div>
                </section>
            </div>
            <!-- /.post -->
        </section>
    </article>

{% endblock %}